# Matlab .asv files
*.asv

# Local folder
Local/
# Everything in the Local folder
Local/**
# Segmentation folder
Segmentations/
# Everything in the Segmentation folder
Segmentations/**
# DispFields folder
DispFields/
# Everthing in the DispFields folder
DispFields/**